form {
    font-size: 20px;
    // border-radius: 4px;
    background: rgb(236, 233, 233);
    color: black;
    max-width: 912px;
    margin: 0 auto;
    input {
        width: 500px;
        margin: 0 0 20px 0;
        border-radius: 5px;
        height: 28px;
    }
    label {
        border-radius: 5px;
    }

    
    
    
    
   

  }